@media (max-width: 320px) {
    .navigation {
        display: none;
    }
    .cont {
        position: relative;
    }
    #wrapperabout {
        width: 100%;
        margin-left: 0px;
        margin-top: 52px;
    }
    #containerabout {
        width: auto;
    }
    #siderightabout {
        float: none;
        width: auto;
    }
    
    .article1 {
	max-height: 16em;
}
      .article2 {
	max-height: 15em;
}
    
}
#about {
    font-size: 14px;
}
@media (min-width: 321px) and (max-width: 720px) {
    .navigation {
        position: fixed;
        z-index: 100;
        top: 0px;
        width: 100%;
        display: none;
    }
    .cont {
        position: relative;
    }
    #wrapperabout {
        width: 100%;
        margin-left: 0px;
        margin-top: 53px;
    }
    #about {
        font-size: 15px;
    }
    #containerabout {
        width: auto;
    }
    #siderightabout {
        width: auto;
        float: none;
    }
    
       .article1 {
	max-height: 14em;
}
       .article2 {
	max-height: 12em;
}
    
}
@media (min-width: 410px) and (max-width: 435px) {
    .navigation {
        display: none;
    }
    #about {
        font-size: 18px;
    }
}
@media (min-width: 410px) and (max-width: 436px) {
    .navigation {
        display: none;
    }
    .sb-slidebar nav ul li a,
    small {
        font-size: 110%;
    }
    .cont {
        position: relative;
    }
}
@media (min-width: 721px) and (max-width: 770px) {
    .navigation {
        display: none;
    }
    #wrapper {
        width: 100%;
        margin-left: 0px;
        margin-top: 20px;
    }
    #containerabout {
        width: auto;
    }
    #siderightabout {
        float: none;
        width: auto;
    }
}
@media (min-width: 768px) and (max-width: 770px) {
    .navigation {
        width: 100%;
        display: none;
    }
    .sb-slidebar nav ul li a,
    small {
        font-size: 150%;
    }
    #wrapperabout {
        width: 100%;
        margin-top: 55px;
        margin-left: 10px
    }
    #siderightabout {
        width: 96%;
        float: none;
    }
    #containerabout {
        width: 95%;
    }
    #about {
        font-size: 30px;
        text-align: center;
    }
}
@media (min-width: 770px) {
    .navbar {
        display: none;
    }
    #about {
        font-size: 20px;
    }
}
